.line{
    border-bottom: 1px solid black; 
    padding: 8px 0px;
}
.center{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
}
.center .logo img {
    height: 50px;
}
.left{
    display: flex;
    align-items: left;
    flex-grow: 1;
    text-align: left;
    color: black;
    margin-left: 20px; 
}
.right{
    display: flex; 
    justify-content: flex-end;
    align-items: right;
    flex-grow: 1;
    text-align: right;
    color: black;
    margin-right: 20px; 
}
.iniciar_sesion{
    display: flex; 
    justify-content: flex-end;
    align-items: right;
    flex-grow: 1;
    text-align: right;
    color: black;
    margin-right: 20px; 
}
.margem {
    display: flex;
    justify-content: center;
    margin: 150px auto;
    max-width: 1200px;
    padding: 20px; 
    flex-directory: column;
}
.botao{
    border: 1px solid black;
    width: 50%;
    padding: 15px;
    outline: none;
    
}
.login-2{
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: tanslate(-50%;-50%);
    align-content: center;
    align-items: center;
    flex-direction: column; 
    padding: 100px;
}
.etiqueta{
    padding: 10px;
}
.titulo{
    margin-right: 300px;
}
.botones{
    margin: 20px;
}
@media (max-width: 767px) {
     .login-2 {
        padding: 20px; 
    }   
}
@media (min-width: 768px) and (max-width: 990px){
     .login-2 {
        padding: 50px; 
    }   
}
@media (min-width: 991px) {
}


