body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container{
    align-text: center;
    max-width: 400px;
    width: 100%;
}
.login-container h1{
    margim-bottom: 70px;
}
.input-group{
    margin-bottom: 20px;
    text-align: left;
}
.input-group label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    font-size: 16px;
}


.navbar-custom {
    border-bottom: 1px solid black; 
    padding: 8px 50px;
}
.center{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
}
.center .logo img {
    height: 50px;
}
.left{
    display: flex;
    align-items: left;
    flex-grow: 1;
    text-align: left;
    color: black;
    margin-left: 20px; 
}
.right{
    display: flex; 
    justify-content: flex-end;
    align-items: right;
    flex-grow: 1;
    text-align: right;
    color: black;
    margin-right: 20px; 
}
.iniciar_sesion{
    display: flex; 
    justify-content: flex-end;
    align-items: right;
    flex-grow: 1;
    text-align: right;
    color: black;
    margin-right: 70px; 
}
.margem {
    display: flex;
    justify-content: center;
    margin: 150px auto;
    max-width: 1200px;
    padding: 20px; 
    flex-directory: column;
}
.botones{
     margin-top: 70px;
}

.textfield{
    flex-directory: column;
    align-items: center;
    justify-content: center:
}
.textfield > label {
    text-size: 2rem;

}

