.navbar-custom {
    border-bottom: 1px solid black; /* Línea inferior de 2px de grosor y color negro */
}
.center{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    text-align: center;

}
.left{
    display: flex;
    justify-content: left;
    flex-grow: 1;
    text-align: left; 
    color: black;
    margin-right: 20px;
    
}

