<nav class="line">
        <div class="navbar-container">

    
    <div class="left">
        <a href="https://www.instagram.com/_limitlesstore_/">
           <img src="https://cdn.prod.website-files.com/6485841255c5edc7b124cca2/669f90bc4c386b77fae2e419_Frame.svg" width="20" height="20" >
        </a>
    </div>
    <div class="center">
        <a routerLink="/" routerLinkActive="active" class="logo">
           <img src="https://github.com/Greyby9/imagenes/blob/main/logo-limitless.png?raw=true" alt="LOGO LIMITLESS">  
        </a>
    </div>
    <div class="right">
            <div class="iniciar_sesion">
        <a  routerLink="/login" routerLinkActive="active" class="">
            <img src="https://github.com/Greyby9/imagenes/blob/main/iniciar_sesion.png?raw=true" alt="log in" Width="20" height="20">
        </a>
            </div>
        <a routerLink="/" routerLinkActive="active" class="logo">
            <img src="https://github.com/Greyby9/imagenes/blob/main/carritov2.png?raw=true" alt="carrito" width="20" height="20">  
        </a>
    </div>
            </div>  
</nav>