.line {
    width: 100%;    
    padding: 8px;
    box-sizing: border-box;
    border-bottom: 1px solid black;

}
.navbar-container {
    display: flex-box;
    align-items: center; 
    display: flex;
    align-items: left;
}
.left, .center, .right {
    display: flex;
    align-items: center;
}

.left {
    flex-grow: 1;
    justify-content: flex-start;
    margin-left: 20px; 

}
.center {
    flex-grow: 1;
    justify-content: center;
    text-align: center;
    height: 50px;
}

.center .logo img {
    height: 50px;
}
.right {
    flex-grow: 1;
    justify-content: flex-end;
    margin-right: 20px;
}
.left img, .right img {
    width: 20px;
    height: 20px;
}


.iniciar_sesion {
    margin-right: 20px; 
}
