<form id="recuperarpass">
    <div class="login-2">
      
            <h2>Recuperar sua conta</h2>
            
                    <label class="etiqueta" for="email">E-mail:</label> <br>
                <input class="botao" type="email" id="emailrec" name="email" placeholder="E-mail" required> <br>
                    Se teu E-mail está cadastrado, receberá um e-mail com o link para redefinir sua senha
        <div class="botones">
                 <button type="submit" class="btn btn-outline-success">Enviar E-mail</button>                
        </div>
    </div>
    </form>
    <div id="error-message"class="alert alert-secondary" role="alert"></div>



