<form [formGroup]="formReg" (ngSubmit)="OnSubmit()">
    <div class="login-2">
            <h2>Criar Conta</h2>
                    <label class="etiqueta" for="email">Nome:</label> <br>
                <input class="botao" type="text" id="nomereg" name="nome" placeholder="Nome" required> <br>
                    <label class="etiqueta" for="email">Apelido:</label> <br>
                <input class="botao" type="text" id="apelidoreg" name="apelido" placeholder="Apelido" required> <br>
                    <label class="etiqueta" for="email">E-mail:</label> <br>
                <input class="botao" type="email" id="emailreg" name="email" placeholder="Email" required> <br>
                    <label class="etiqueta"for="password">Palavra-Passe:</label> <br>
                <input class="botao" type="password" id="passwordreg" name="palavra-passe" placeholder="Palavra-Passe" required>
       <div class="botones">
                 <button type="submit" class="btn btn-outline-warning" id="criarconta" [disabled]="!formReg.valid">Criar</button>
                        <a routerLink="/login">
                 <button type="button" class="btn btn-outline-success">Ja Tenho Conta</button>
                        </a>
        </div>
        
    </div>
    </form>
